<!DOCTYPE html>
<html>
<head>
    <title>django-websocket</title>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">//<![CDATA[
    $(function () {
        $('#connect_websocket').click(function () {
            if (window.s) {
                window.s.close()
            }
            /*创建socket连接*/
            var socket = new WebSocket("ws://" + window.location.host + "/echo");
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
            };
            socket.onmessage = function (e) {
                var callback = $.parseJSON(e.data)
                console.log(callback);//打印获得的结果

                document.getElementById("jackpot").innerHTML = "JackPot——" + callback.total_award;
                document.getElementById("user_money").innerHTML = "用户金币：" + callback.user_money;
                document.getElementById("user_chip").innerHTML = "本次下注：" + callback.chip;
                if (callback.result == "没中奖") {
                    document.getElementById("current_result").innerHTML = "下注结果：" + callback.result;
                }
                else {
                    document.getElementById("current_result").innerHTML = "下注结果：" + callback.result + "--" + callback.reward_money;
                    if (callback.result == "大奖！") {
                        $("#reward_1").prepend("<li>" + "下注：" + callback.chip + ",获得：" + callback.result + ",奖励：" + callback.reward_money + "</li>");
                    }
                    else if (callback.result == "特大奖！！") {
                        $("#reward_2").prepend("<li>" + "下注：" + callback.chip + ",获得：" + callback.result + ",奖励：" + callback.reward_money + "</li>");
                    }
                    else {
                        $("#reward_3").prepend("<li>" + "下注：" + callback.chip + ",获得：" + callback.result + ",奖励：" + callback.reward_money + "</li>");
                    }
                }
                document.getElementById("reward_1_prob").innerHTML = "大奖概率：" + callback.reward_1;
                document.getElementById("reward_2_prob").innerHTML = "特大奖概率：" + callback.reward_2;
                document.getElementById("reward_3_prob").innerHTML = "超级大奖概率：" + callback.reward_3;
            };
            // Call onopen directly if socket is already open
            if (socket.readyState == WebSocket.OPEN) socket.onopen();
            window.s = socket;
        });
    });
    //]]>
</script>
</head>
<body>
<button type="button" id="connect_websocket">开始</button>
<button type="button" id="reset">重置</button>
<h1 style="color:red" id="jackpot">JackPot</h1>
<div id="user">
    <h2 id="user_money">用户的钱</h2>
    <p id="user_chip">下注</p>
</div>
<div id="result">
    <h2 id="current_result">中没中奖</h2>
    <p id="reward_1_prob">大奖概率</p>
    <p id="reward_2_prob">特大奖概率</p>
    <p id="reward_3_prob">超级大奖概率</p>
</div>
<ol id="reward_1">大奖
</ol>
<ol id="reward_2">特大奖
</ol>
<ol id="reward_3">超级大奖
</ol>
</body>
</html>

<!--$('#jackpot').replaceWith(function(){-->
                    <!--return '<div id="jackpot">' + 'JackPot:' + callback.total_award+ '</div>';-->
                    <!--});-->
                <!--if (callback.result == "没中奖") {-->
                    <!--$('#result').replaceWith(function(){-->
                    <!--return '<h1 id="result">' + '没中奖' + '</h1>';-->
                    <!--});-->
                <!--}-->
                <!--else-->
                    <!--{-->
                    <!--$('#result').replaceWith(function(){-->
                    <!--return '<h1 id="result">' + '大奖——' + callback.reward_money+ '</h1>';-->
                    <!--});-->
                    <!--}-->

                <!--$('#reward_prob').replaceWith(function(){-->
                    <!--return '<a id="reward_prob" style="color:red">' + '大奖概率:' + callback.reward_money+ '</a>';-->
                    <!--});-->